.loading{
    position:relative;
    top: -40px;
    width:30px;
    left: 5px;
    visibility: hidden;
}
#summarizedText{
    border: none;
    background: none;
}

#paraphrase-btn,#copy-btn{
    visibility: hidden;
}